:root {
  --red: #ff0000;
  --yellow: #fff000;
  --darkGreen: #005c00;
  --lightBlue: #91cfff;
  --darkBlue: #032c4b;
  --silver: #e2e2e2;
  --bronze: #936418;
  --gold: #ffd200;
  --black: #000000;
}

body {
  background-color: var(--lightBlue);
}

.button {
  color: var(--bronze);
  background-color: var(--darkBlue);
  border: 2px solid var(--bronze);
  border-radius: 7px;
  font-weight: 600;
}
.button:hover, :focus, :active {
  color: var(--darkBlue);
  background-color: var(--bronze);
  border: 2px solid var(--darkBlue);
}