:root {
  --red: #ff0000;
  --lightBlue: #91cfff;
  --darkBlue: #032c4b;
  --lightBronze: #dfb97c;
  --bronze: #936418;
  --bronzeGradient: linear-gradient(to top, var(--lightBronze), var(--bronze));
}

body {
  background-color: var(--lightBlue);
  padding-top: 10px;
}

.button {
  color: var(--bronze);
  background-color: var(--darkBlue);
  border: 2px solid var(--bronze);
  border-radius: 7px;
  font-weight: 600;
  min-width: 5em;
}
.button:hover,
button:focus,
button:active {
  color: var(--darkBlue);
  background-color: var(--bronze);
  border: 2px solid var(--darkBlue);
}
