:root {
  --red: #ff0000;
  --darkBlue: #032c4b;
  --bronze: #936418;
  --lightBronze: #dfb97c;
  --bronzeGradient: linear-gradient(to top, var(--lightBronze), var(--bronze));
}

h1 {
  color: var(--darkBlue);
}

h2 {
  color: var(--darkBlue);
}

.center {
  display: flex;
  justify-content: center;
}

.red {
  color: var(--red);
}

.right {
  display: flex;
  justify-content: flex-end;
}
