:root {
  --red: #ff0000;
  --darkBlue: #032c4b;
  --bronze: #936418;
  --lightBronze: #dfb97c;
  --bronzeGradient: linear-gradient(to top, var(--lightBronze), var(--bronze));
}

.red {
  color: var(--red);
}

.end {
  display: flex;
  justify-content: flex-end;
}

.cardBtns {
  display: flex;
  justify-content: space-around;
}

.cardHeader {
  color: var(--darkBlue);
  background: var(--bronzeGradient);
  border-radius: 14px 14px 0 0;
  padding: 5px 5px 0 5px;
  margin: 0 -5px 0 -5px;
}

.cardTitle {
  margin-top: 0;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkBox {
  color: var(--darkBlue);
}
.checkBox:active,
.checkBox:focus {
  color: var(--bronze);
  background-color: var(--darkBlue);
}

.right {
  display: flex;
  justify-content: flex-end;
  padding: 0 5px 5px 0;
}

.todoCard,
.signupForm {
  color: var(--darkBlue);
  border: 2px solid var(--darkBlue);
  border-radius: 15px;
  padding: 0 5px 5px 5px;
  margin-bottom: 0.5em;
}
